PORT=5000

# Database Configuration (MySQL XAMPP / Laragon)
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=posyandu_smart
DB_PORT=3306

# WhatsApp Gateway (Fonnte)
# Daftar gratis di fonnte.com dan isi token Anda di bawah ini
FONNTE_TOKEN=YOUR_FONNTE_TOKEN_HERE
